<!DOCTYPE html>
<html>

  <head>
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- JQuery Flip Transition -->
    <script src="https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js"></script>
    <script src="index.js"></script>
    <script src="{{url_for('static',filename='index.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static',filename='index.css')}}">
    <title> Calc BC Flash Cards </title>
  </head>

  <body>

    <h1> Calculus Derivative Rules </h1>
    <p> (Click cards to flip) </p>

    <div class="left-column">
      <div class="card">
        <div class="front">
          <img src="{{url_for('static',filename='images/cosx_front.png')}}" alt="d/dx(cosx)">
        </div>
        <div class="back">
          <img src="{{url_for('static',filename='images/cosx_back.png')}}" alt="-sinx">
        </div>
      </div>

      <div class="card">
        <div class="front">
          <img src="{{url_for('static',filename='images/sinx_front.png')}}" alt="d/dx(sinx)">
        </div>
        <div class="back">
          <img src="{{url_for('static',filename='images/sinx_back.png')}}" alt="cosx">
        </div>
      </div>
    </div>

    <div class="right-column">
      <div class="card">
        <div class="front">
          <img src="{{url_for('static',filename='images/power_rule_front.png')}}" alt="Power Rule">
        </div>
        <div class="back">
          <img src="{{url_for('static',filename='images/power_rule_back.png')}}" alt="Power Rule">
        </div>
      </div>

      <div class="card">
        <div class="front">
          <img src="{{url_for('static',filename='images/tanx_front.png')}}" alt="d/dx(tanx)">
        </div>
        <div class="back">
          <img src="{{url_for('static',filename='images/tanx_back.png')}}" alt="sec^2*x">
        </div>
      </div>
    </div>

    <hr>

    <form action={{ url_for("renderIndex") }} method="POST">
      1.) What is the the trig identity of d/dx f(cosx)<br>
      <input type="radio" name="first_question" value="cosx">cosx</label><br/>
      <input type="radio" name="first_question" value="sec^2(x)">sec^2(x)</label><br/>
      <input type="radio" name="first_question" value="-sinx">-sinx</label><br/>
      <input type="radio" name="first_question" value="n(x^(n-1))">n(x^(n-1))</label><br/>

      2.) What is the the trig identity of d/dx f(sinx)<br>
      <input type="radio" name="second_question" value="cosx">cosx</label><br/>
      <input type="radio" name="second_question" value="sec^2(x)">sec^2(x)</label><br/>
      <input type="radio" name="second_question" value="-sinx">-sinx</label><br/>
      <input type="radio" name="second_question" value="n(x^(n-1))">n(x^(n-1))</label><br/>

      3.) What is the the trig identity of d/dx f(x^n)<br>
      <input type="radio" name="third_question" value="cosx">cosx</label><br/>
      <input type="radio" name="third_question" value="sec^2(x)">sec^2(x)</label><br/>
      <input type="radio" name="third_question" value="-sinx">-sinx</label><br/>
      <input type="radio" name="third_question" value="n(x^(n-1))">n(x^(n-1))</label><br/>

      4.) What is the the trig identity of d/dx f(tanx)<br>
      <input type="radio" name="fourth_question" value="cosx">cosx</label><br/>
      <input type="radio" name="fourth_question" value="sec^2(x)">sec^2(x)</label><br/>
      <input type="radio" name="fourth_question" value="-sinx">-sinx</label><br/>
      <input type="radio" name="fourth_question" value="n(x^(n-1))">n(x^(n-1))</label><br/>

      <input type="submit" value="Submit">
     </form>

    {% if response_error_message is defined %}
        <p> The answer to question 1 is -sinx

            {% if "first_question" in session %}
                Your answer to the first question was {{ response_question_info["first_question"] }} <br>
            {% endif %}
        <br><br>

            The answer to question 2 is cosx
            {% if "second_question" in session %}
                Your answer to the Second Question was {{ response_question_info["second_question"] }}
            {% endif %}
        <br><br>

            The answer to question 3 is n(x^(n-1))

            {% if "third_question" in session %}
                Your answer to the third question is {{ response_question_info["third_question"] }}
            {% endif %}
        <br><br>

            The answer to question 4 is sec^2(x)

            {% if "fourth_question" in session %}
                Your answer to the fourth question is {{ response_question_info["fourth_question"] }}
            {% endif %}
        <br>

            You scored a {{ response_score }} percent!
            The highest score is session["highest_score"]

        <!-- throw some sort of error message  -->
        </p>
    {% else %}
        <p> {{ response_error_message }} </p>
    {% endif %}

    </div>

  </body>
</html>
